/*GENERAL BEGIN*/
*{
	margin:0;
	padding:0;
	font-family: segoe;
}
ul{
	list-style: none;
	
}
a{
	text-decoration: none;
}
body{ 
	background:#0e0e0e;
	font:20.35px segoe, Arial, OpenSans, Thoma, sans-serif ;
}
@font-face{
	font-family: segoe;
	src:url(font/SegoeWPN.ttf);
}
.wrapper{
	background: #fff;
	width:1250px;
	margin: auto;
}

/*GENERAL END*/

header h1{
	font-weight: normal;
	float: left;
	margin: 25px 10px 0px 140px;
}
span a{
	display: inline-block;
	margin-top: 22px;
	position: absolute;
	color: #000;
	font-size: 42.35px;
	letter-spacing: 2px;
}
nav>ul{
	margin-right: 120px;
	padding-top: 48px;
	letter-spacing: 0.8px;
}
nav>ul>li{
	float: right;
}
nav>ul>li>a{
    font-size: 20.35px;
	color: #6c6c6c;
	padding:0px 3px 15px 3px;
	margin:0px 17px 0px 17px;
	display: block;
	border-bottom: 3px solid #fff;
}
nav>ul>li>a:hover{
	color:#000;
	border-bottom: 3px solid #5094f2;
}
.slider_block{
	background-repeat:no-repeat;
	background-position: 0 0;
	width: 1250px;
	height: 490px;
}
			/* ====================================================================================================================
 * BEGIN SLIDER
 * ====================================================================================================================*/
.flexslider {
	background: #ffffff;
	position: relative;
	width: 1250px;
	height: 490px;
}
.flexslider .slides img {
	height: auto;
	-moz-user-select: none;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	
}
.loading .flex-viewport {
	max-height: 300px;
}
.flex-direction-nav a {
	text-decoration: none;
	display: block;
	height: 45px;
	width: 27px;
	margin: -20px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
 	font-family: "flexslider-icon";
 	font-size: 40px;
 	display: inline-block;
 	color: rgba(0, 0, 0, 0.8);
 	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav .flex-prev {
 	left: -50px;
 	text-indent: 9999px;
 	background-image:url(../img/strelka.png);
 	background-repeat: no-repeat;
 	background-size: auto;
 	background-position: 0 0px;
  
}
.flex-direction-nav .flex-next {
 	right: -50px;
 	text-indent: 9999px;
 	background-image:url(../img/strelka.png);
 	background-repeat: no-repeat;
 	background-size: auto;
 	background-position: 0 -46px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
 	opacity: 0.7;
 	left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
 	opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
 	opacity: 0.7;
 	right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
 	opacity: 1;
}
.flex-direction-nav .flex-disabled {
 	opacity: 0!important;
 	filter: alpha(opacity=0);
 	cursor: default;
 	z-index: -1;
}
.flex-pauseplay a {
 	display: block;
 	width: 20px;
 	height: 20px;
 	position: absolute;
 	bottom: 5px;
 	left: 10px;
 	opacity: 0.8;
 	z-index: 10;
 	overflow: hidden;
 	cursor: pointer;
 	color: #000;
}
.flex-pauseplay a:before {
 	font-family: "flexslider-icon";
 	font-size: 20px;
 	display: inline-block;
}
.flex-pauseplay a:hover {
 	opacity: 1;
}
.flex-control-nav {
 	position: absolute;
	right: 50%;
}
.flex-control-nav li {
 	margin: 1px 1px 1px 5px;
 	display: inline-block;
 	
}
.flex-control-paging li a {
 	width: 14px;
 	height: 14px;
 	display: block;
 	background: #666;
 	background: rgba(0, 0, 0, 0.5);
 	cursor: pointer;
 	text-indent: -9999px;
 	-webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
 	-moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
 	-o-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
 	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
 	-webkit-border-radius: 20px;
 	-moz-border-radius: 20px;
 	border-radius: 20px;
}
.flex-control-paging li a:hover {
 	background: #333;
 	background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
 	background: #000;
 	background: rgba(255, 255, 255, 0.9);
 	cursor: default;
}
.flex-control-thumbs {
 	margin: 5px 0 0;
 	position: static;
 	overflow: hidden;
}
.flex-control-thumbs li {
 	width: 25%;
 	float: left;
 	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
 	transition: all 1s ease;
}
.flex-control-thumbs img:hover {
 	opacity: 1;
}
.flex-control-thumbs .flex-active {
 	opacity: 1;
 	cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
	opacity: 1;
	left: 10px;
  }
  .flex-direction-nav .flex-next {
 	opacity: 1;
 	right: 10px;
  }
}

						/*ENG SLIDER*/
.Sign-up{
	position:absolute;
	z-index: 2;
	margin:145px 0px 0px 625px;
	color: #fff;
}
.Sign-up h3{
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 42.35px;
}
.Sign-up p{
	line-height:40px ;
	font-size: 26.35px;
	margin-bottom:37px; 
}

.Sign-up a{
	color:#fff;
	background: url(../img/sign-up.png) no-repeat 10px 10px #5094f2;
	padding: 6px 12px 8px 42px;
	margin-left: 12px;
	font-size: 23.35px;
}
.blurbs{
	margin: 56px 0 82px 135px;
}
.blurbs li{
	text-align: center;
	width: 266px;
	margin-right: 100px; 
	float: left;
}
.blurbs li:last-child{
	margin-right: 0;
}
.blurbs p{
	letter-spacing: 0.5px;
	font-size: 14.35px;
	color:#909090; 
}
.blurbs h3{
	font-weight: normal;
	margin-top:19px;
	margin-bottom: 10px;
	font-size:20.35px;
	color:#5094f2;
}
.middle-block{
	padding-bottom: 45px;
	border-bottom:1px solid #e5e5e5;
}
.middle-block li:first-child{
	margin-left: 165px;
}
.middle-block li{
	display: inline-block;
}
.middle-block h2{
	font-weight: normal;
	margin-bottom: 35px;
	font-size: 42.35px;
	color:#6f7173;
}
.middle-block li:last-child{
	margin: 60px 190px 0px 0px;
	width: 450px;
	float: right;
}
.middle-block h3{
	margin-bottom: 17px;
	color: #6f7173;
	font-size: 26.35px;
}
.middle-block p{
	color: #909090;
	font-size:15.35px; 
	line-height: 36px;
}
footer p{
	font-size: 15.35px;
	color: #909090;
	text-align: center;
	padding: 30px 0;
}




header:after, .blurbs:after, .middle-block:after{
	content:"";
	display: table;
	clear: both;
}
